@import '_cleaning';
@import 'fonts';

:root {
  --bg-dark: #000;
  --gold: #bdae82;
  --white: #fff;
  --matte-black: #1c1c1c;
  --red: #ff0739;
  --opacity-red: #ff073920;
  --blue: #079cca;
  --opacity-blue: #079cca20;
  --sky: #f9b5fd;
  --opacity-sky: #f9b5fd20;
}

html {
  scroll-behavior: smooth;
}

.header,
.welcome,
.footer {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: 40px;
  letter-spacing: 0em;
  color: var(--white);

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 32px;
  }
}

.header,
.welcome,
.footer {
  background: var(--bg-dark);
  transition: background 0.5s ease-in-out 0s;
}

.container {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.title {
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 200;
  line-height: 80px;
  text-align: center;
  letter-spacing: 2px;
  color: var(--blue);
  text-shadow: 0 1px 5px var(--blue), 0 -1px 5px var(--blue);
  max-width: 700px;
  width: 100%;
  height: 80px;
  margin: 0 auto 60px;

  & h2 {
    padding: 0 20px;
    background: var(--bg-dark);
  }

  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 40px;
    max-width: 350px;
    margin: 0 auto 30px;
  }
}

button,
a,
p,
h1,
h2,
span {
  transition: color 0.5s ease-out 0s;
}


svg {
  transition: fill 0.5s ease-out 0s;
}

#transition-none * {
  transition: none !important;
}

// temp styles

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

// temp styles

// keyboard section

.welcome {
  height: 100%;
  pointer-events: none;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    flex: 0 0 auto;
  }

  &__body {
    flex: 1 0 auto;
  }
}

.keyboard {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 25px;
  margin-bottom: -100px;

  &__textarea {
    display: flex;
    justify-content: center;
    align-items: start;
    max-width: 1240px;
    flex: 1 0 auto;

    & textarea {
      max-width: calc(100vw - 40px);
      padding: 10px;
      background: var(--matte-black);
      width: 100%;
      height: 100%;
      min-height: 48px;
      min-width: 220px;
      color: var(--red);
      font-size: 18px;
      font-weight: 200;
      letter-spacing: 3px;
      line-height: 24px;
      text-shadow: 0 1px 5px var(--red), 0 -1px 5px var(--red);
      pointer-events: auto;
    }
  }

  &__keyboard {
    width: 100%;
    max-width: calc(100vw - 40px);
    aspect-ratio: 700 / 237;
    background: #111111;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 10px;
  }

  &__row {
    pointer-events: none;
    width: 100%;
    height: calc(20% - 8px);
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
  }

  &__key {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 200;
    letter-spacing: 0.15em;
    line-height: 0;
    height: 100%;
    border-radius: 10px;
    transition: box-shadow 0.25s ease-out 0s, border 0.5s ease-out 0s, border-radius 0.125s ease-out 0s, color 0.5s ease-out 0s;
    background: none;
    cursor: pointer;
    user-select: none;
    pointer-events: auto;

    &:hover {
      color: var(--sky);
      border: 1px solid var(--sky);
      box-shadow: 0px 0px 5px 5px var(--opacity-sky), 0px 0px 0px 0px var(--opacity-sky) inset;
    }

    &:active {
      color: var(--sky);
      border: 1px solid var(--sky);
      box-shadow: 0px 0px 5px 5px var(--opacity-sky), 0px 0px 0px 0px var(--opacity-sky) inset;
      border-radius: 0;
    }
  }

  & .active {
    color: var(--sky);
    border: 1px solid var(--sky);
    box-shadow: 0px 0px 5px 5px var(--opacity-sky), 0px 0px 0px 0px var(--opacity-sky) inset;
    border-radius: 0;
  }

  &__red-key {
    color: var(--red);
    text-shadow: 0 1px 5px var(--opacity-red), 0 -1px 5px var(--opacity-red);
    border: 1px solid var(--red);
    box-shadow: 0px 0px 5px 5px var(--opacity-red), 0px 0px 8px 6px var(--opacity-red) inset;
  }

  &__blue-key {
    color: var(--blue);
    text-shadow: 0 1px 5px var(--opacity-blue), 0 -1px 5px var(--opacity-blue);
    border: 1px solid var(--blue);
    box-shadow: 0px 0px 5px 5px var(--opacity-blue), 0px 0px 8px 6px var(--opacity-blue) inset;
  }

  &__fix-key {
    aspect-ratio: 1 / 1;
  }

  &__flex-key {
    width: 100%;
  }

  @media (max-width: 768px) {

    &__textarea {

      & textarea {
        max-width: calc(100vw - 20px);
        font-size: 14px;
        letter-spacing: 2px;
        line-height: 18px;
      }
    }

    &__keyboard {
      row-gap: 5px;
      border-radius: 0;
      padding: 5px;
      max-width: 100vw;
    }

    &__row {
      column-gap: 5px;
      height: calc(20% - 4px);
    }

    &__key {
      border-radius: 5px;
      font-size: 12px;
      letter-spacing: 0.1em;
    }
  }

  @media (max-width: 460px) {

    &__textarea {

      & textarea {
        max-width: calc(100vw - 10px);
      }
    }

    &__keyboard {
      row-gap: 2px;
      padding: 2px;
    }

    &__row {
      column-gap: 2px;
      height: calc(20% - 1.6px);
    }

    &__key {
      font-size: 8px;
      letter-spacing: 0.1em;
    }
  }
}


// keyboard section

//footer

.footer {

  &__body {
    display: flex;
    height: 110px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    & a {
      display: flex;
      align-items: center;
      color: var(--white);
      font-weight: 200;
      letter-spacing: 3px;
      transition: text-shadow 0.25s ease-out 0s, color 0.25s ease-out 0s;

      &:hover {
        color: var(--blue);
        text-shadow: 0 1px 5px var(--blue), 0 -1px 5px var(--blue);

        & svg {
          fill: var(--blue);
        }
      }
    }

    & svg {
      width: 28px;
      margin-right: 8px;
      transition: fill 0.5s ease 0s;
      fill: var(--white);
    }
  }

  &__year {
    display: flex;
    width: auto;
    color: var(--white);
    font-weight: 200;
    letter-spacing: 3px;
  }

  @media (max-width: 768px) {

    &__year {
      padding-top: 20px;
    }

    &__company {
      padding-bottom: 20px;
    }

    &__body {
      flex-direction: column;
    }
  }
}

//footer